$colorG:#fff;
$colorW:#fff;
$colorBg: #efefef;
$colorNav:#ff5722;
$colorNavBord:#cfd8dc;
$colorAdmin:#bdbdbd;
$colorBtn:#0401ac;
$colorHp:#757575;
$colorH3:#607d8b;
$contentBackground: $colorBg;
$headerBg: url(../img/header_background_v2.jpg);
$font: normal 18px/26px "Palatino Linotype",
"Book Antiqua",
Palatino,
serif;