$colorG:#efefef;
$colorW:#fff;
$colorBg: #fff;
$colorNav:#ececec;
$colorNavBord:#607d8b;
$colorAdmin:red;
$colorBtn:#01acac;
$colorHp:black;
$colorH3:#01acac;
$contentBackground: $colorBg;
$headerBg: url(../img/header_background_v1.jpg);
$font:normal 300 15px/24px Roboto,
Ubuntu,
Cantarell,
Helvetica,
sans-serif;